* {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide-wrap {
    position: relative;
    width: 60vw;
    height: 90vh;
    overflow: hidden;
    margin-top: 5vh;
}

.slide-wrap ul {
    position: absolute;
    width: 1000%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.slide-wrap ul li {
    width: 60vw;
    float: left;
    list-style: none;
}

.slide-pointer {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 90%;
}

.slide-pointer-area {
    width: 15%;
    display: flex;
}

.slide-pointer-area > span {
    flex: 1;
    max-width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 100%;
    background-color: #e4c9a6;
    cursor: pointer;
}

.slide-pointer-area > span:first-of-type {
    background-color: #222222;
}

.arrow-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

.arrow-wrap img {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.arrow-wrap img:last-of-type {
    right: 3%;
}

.slide-wrap:hover .arrow-wrap > img {
    opacity: .5;
}

.arrow-wrap img:hover {
    opacity: 1 !important;
}