* {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide-wrap {
    position: relative;
    width: 60vw;
    height: 90vh;
    overflow: hidden;
}

.slide-wrap ul {
    position: absolute;
    width: 1000%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.slide-wrap ul li {
    width: 60vw;
    float: left;
    list-style: none;
}
